#submit {
    background-color: green;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    color: aliceblue;
}

.ql-container {
    height: 400px;
}